i {
    background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

#h2_events {
    font-size: 6vh;
    padding: 15px;
    background-image: linear-gradient(90deg, #d53369 0%, #daae51 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}